.loginPage {
	width: 100%;
    margin-bottom: -70px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	.loginPageRow {
		padding: 25px;
		width: 100%;
	}
	.loginCard {
		.ant-card-body {
			padding: 34px;
			height: 100%;
			position: relative;
		}
		.loginHeaderTitle {
			text-align: center;
		}
	}
	.loginHero {
		height: 750px;
		border-radius: 25px;
		width: 100%;
		object-fit: cover;
		object-position: bottom;
	}
	.loginForm {
		margin-top: 15px;
		.loginHelpersContainer {
			justify-content: flex-end;
			width: 100%;
			.forgotPasswordCta {
				display: flex;
				align-items: center;
				gap: 7px;
				margin: 0;
			}
		}
		.loginCta {
			width: 100%;
		}
	}
	.loginRegisterCta {
		text-align: center;
	}
}
