@import '../../variables.scss';
.registerPage {
	width: 100%;
    margin-bottom: -70px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	.registerPageRow {
		padding: 25px;
		width: 100%;
	}
	.registerHero {
		height: 750px;
		border-radius: 25px;
		width: 100%;
		object-fit: cover;
		object-position: bottom;
	}
	.registerCard {
		&.fixedHeight {
			height: 650px;
		}
		.ant-card-body {
			padding: 34px;
			height: 100%;
			position: relative;
		}
		.registerHeaderTitle {
			text-align: center;
		}
		.registerStepper {
			width: 60%;
			margin: auto;
		}
		.registrationFormHeader {
			text-align: center;
			display: block;
			margin: 25px;
		}
	}
	.registerForm {
		margin-top: 15px;
		.registerNameContainer {
			.ant-form-item {
				margin-bottom: 0;
				width: 50%;
			}
			.ant-form-item-control-input-content {
				display: flex;
				gap: 25px;
			}
		}
		.registerCta {
			width: 100%;
		}
		.prefixOptionalExtra {
			color: orange;
		}
		.addBreederCard {
			width: 100%;
			height: 50px;
			border-color: red;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			color: $textGray;
		}
	}
	.registerCtaText {
		text-align: center;
	}
	.accountTypeSelectionParentContainer {
		width: 100%;
		.accountTypesSelectionContainer {
			display: flex;
			gap: 25px;
			align-items: center;
			justify-content: center;
			margin-bottom: 15px;
		}
		button {
			width: 100px;
			position: absolute;
			bottom: 50px;
			right: 25px;
			border-style: solid;
			border-color: #3C3A3B;
			font-weight: 600;
		}
	}
	.registerSubTxt {
		color: $textGray;
		text-align: center;
		margin: 10px;
		font-size: 12px;
	}
}
