@import '../../../variables.scss';
.privateNavigation {
	display: flex;
    justify-content: space-between;
	align-items: center;
	height: 64px;
	.navLink {
		display: flex;
		gap: 10px;
		align-items: center;
		color: #ffffff;
		b {
			font-weight: normal;
		}
		&.selected {
			z-index: 1;
			border-bottom: 2px solid $primaryColor;
			color: #ffffff;
			b {
				font-weight: 700;
				color: #ffffff;
			}
			i {
				color: #ffffff;
			}
		}
	}
	.navLogo {
		a {
			display: flex;
			align-items: center;
			font-size: 25px;
			font-family: impact;
			letter-spacing: 2px;
			color: #A1C575;
			.navLogoImg {
				width: 45px;
				height: 45px;
			}
		}
	}
	.navCenter {
		display: flex;
		gap: 35px;
		align-items: center;
		justify-content: center;
		margin-right: auto;
		margin-left: auto;
	}
	.navProfile {
		cursor: pointer;
		.navProfileCta {
			display: flex;
			align-items: center;
			gap: 10px;
			.ant-typography {
				color: #ffffff;
			}
		}
	}
}