.privateFooter {
	.privateFooterRow {
		max-width: 1600px;
		width: 100%;
		box-sizing: border-box;
		margin: auto;
		padding: 25px 0;
		.footerLogo {
			width: 180px;
		}
		.footerLinks {
			b {
				color: #ffffff;
			}
			ul {
				padding: 0;
				list-style-type: none;
				margin-bottom: 0;
				li {
					line-height: 25px;
					a {
						text-decoration: none;
						color: #ffffff;
					}
				}
			}
		}
	}
	.footerCopyrightTxt {
		display: flex;
		justify-content: center;
		margin: 0;
		text-align: center;
		align-items: center;
	}
}
