.editProductPopup {
    .editProductForm {
        margin-top: 20px;
        .editProductCta {
            margin-bottom: 0;
            .editProductCtaSpace {
                display: flex;
                justify-content: flex-end;
            }
        }
        .productPricing {
            width: 100%;
        }
    }
}
