.breederStorefront {
	.breederStoreContent {
		.ant-row {
			width: 100%;
		}
		.breederStoreFilterCategory {
			margin-bottom: 35px;
			&.relativePos {
				margin-top: -100px;
			}
		}
		.breederStorefrontFilters {
			margin-bottom: 35px;
			.searchFilter {
				input {
					&::placeholder {
						color: #000000;
					}
				}
			}
			.sortBySelect {
				width: 100%;
				.ant-select-selection-placeholder {
					color: #000000;
				}
			}
			.sortFilterCta {
				button {
					width: 100%;
					padding: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 7px;
					.sortFilterCtaTxt {
						font-size: 17px;
						color: #000000;
					}
				}
			}
		}
	}
	/**
    * Basic CSS Media Query Template
    * ------------------------------------------
    *  Responsive Grid Media Queries - 1280, 1024, 768, 480
    *   1280-1024   - desktop (default grid)
    *   1024-768    - tablet landscape
    *   768-480     - tablet 
    *   480-less    - phone landscape & smaller
    * --------------------------------------------
    */
	@media all and (min-width: 1024px) and (max-width: 1280px) {
		.breederStoreContent {
			.ant-row {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
	}

	@media all and (min-width: 768px) and (max-width: 1024px) {
		.breederStoreContent {
			.ant-row {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
	}

	@media all and (min-width: 480px) and (max-width: 768px) {
		.breederStoreContent {
			.ant-row {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
	}

	@media all and (max-width: 480px) {
		.breederStoreContent {
			.ant-row {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
		.breederStorefrontFilters {
			.sortFilterCta {
				button {
					.sortFilterCtaTxt {
						display: none;
					}
				}
			}
		}
	}
}
