@import '../../variables.scss';

.comingSoonpage {
    height: auto;
    min-height: 100%;
    max-height: 100%;
    text-align: center;
    background: var(--black, #3C3A3B);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    .comingSoonLogoContainer {
        position: absolute;
        top: 100px;
        padding: 24px;
        .comingSoonLogo {
            width: 100%;
        }
        .comingSoonLogoTxt {
            margin: 0;
        }
    }
    .comingSoonContent {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        .comingSoonContentHeader {
            color: #ffffff;
            text-transform: uppercase;
        }
    }
    .comingSoonLinks {
        display: flex;
        justify-content: center;
        gap: 25px;
        position: absolute;
        bottom: 60px;
        a {
            color: #ffffff;
            text-decoration: none;
            font-weight: normal;
            font-family: $fontFamily;
        }
    }
}