.forgotPasswordPage {
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	.forgotPasswordForm {
		margin-top: 15px;
		.newPasswordInput {
			margin-bottom: 15px;
		}
		.forgotPasswordCta {
			width: 100%;
		}
		.resendResetCode {
			font-size: 12px;
			margin-bottom: 15px;
			display: block;
		}
	}
}
