.forgotPasswordPage {
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	.forgotPasswordForm {
		margin-top: 15px;
		.forgotPasswordCta {
			width: 100%;
		}
	}
}
