@import '../../variables';

.publicLayoutContainer {
	height: auto;
    min-height: 100%;
	position: relative;
	background: $bgPrimaryColor;
	.publicLayoutContentContainer {
		.publicLayoutLogo {
			.ant-col {
				text-align: center;
			}
		}
	}
	.publicMainFooter {
		background-color: #3c3a3b;
		margin-top: 65px;
	}
}
