.privateTermsAndConditionsPage, .publicTermsAndConditionsPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1600px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 50px 0;
    .richtextContent {
        h1 {
            text-align: center;
            margin-bottom: 25px;
        }
    }
}